/_old/

/bwcms/common/config/main-local.php

/bwcms/backend/runtime/*
!/bwcms/backend/runtime/.gitkeep

/bwcms/frontend/runtime/*
!/bwcms/frontend/runtime/.gitkeep

/bwcms/console/runtime/*
!/bwcms/console/runtime/.gitkeep

/bwcms/frontend/web/assets/*
!/bwcms/frontend/web/assets/.gitkeep

/bwcms/backend/web/assets/*
!/bwcms/backend/web/assets/.gitkeep

/bwcms/vendor/*

/nbproject/
/backup/

/static/node_modules
/static/dist/*
!/static/dist/.gitkeep


/upload/*
!/upload/.gitkeep
!/upload/reworked/.gitkeep
!/upload/reworked/.gitkeep

/cache/img/*
/cache/data/*
!/cache/img/.gitkeep
!/cache/data/.gitkeep
	
/bwcms/yii
/bwcms/frontend/web/install

/node_modules/
/static/node_modules
/static/app/assets/js/
/static/app/assets/css/
/bwcms/vendor/
.vscode/*
