// JEDLISLIDER

.jedli {
    &-slider {
        position: relative;
    }

    &-tracks-container {
        position: relative;
        z-index: 2;
        width: 100%;
    }

    &-track {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
    }

    &-mode {
        &-continuous {
            .jedli {
                &-track {
                    transform: translate3d(0, 0, 0);
                    animation: jedli-continuous-animation infinite;

                    &.jedli-hover-pause {
                        &:hover, &.hovered {
                            animation-play-state: paused;
                        }
                    }
                }
            }
        }
    }
}

@keyframes jedli-continuous-animation {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}


.jedli-slider.jedli-mode-continuous  .jedli-continuous-stop {
    animation: unset !important;
}

.jedli-slider .jedli-overflow-hidden, .jedli-slider.jedli-overflow-hidden {
    overflow: hidden;
}